In [77]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [78]:
df_pop_reg = pd.read_csv ('../data/pop_region.csv')

In [79]:
df_pop_reg

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,57715.0,58055.0,...,102046.0,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0,106314.0,NaN
1,Afghanistan,AFG,8996973.0,9169410.0,9351441.0,9543205.0,9744781.0,9956320.0,10174836.0,10399926.0,...,30117413.0,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0,38041754.0,NaN
2,Angola,AGO,5454933.0,5531472.0,5608539.0,5679458.0,5735044.0,5770570.0,5781214.0,5774243.0,...,24220661.0,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,30809762.0,31825295.0,NaN
3,Albania,ALB,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,1965598.0,...,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,NaN
4,Andorra,AND,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,19647.0,20758.0,...,83747.0,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0,77006.0,77142.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,1106000.0,1135000.0,...,1791000.0,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1794248.0,NaN
260,"Yemen, Rep.",YEM,5315355.0,5393036.0,5473671.0,5556766.0,5641597.0,5727751.0,5816247.0,5907874.0,...,23807588.0,24473178.0,25147109.0,25823485.0,26497889.0,27168210.0,27834821.0,28498687.0,29161922.0,NaN
261,South Africa,ZAF,17099840.0,17524533.0,17965725.0,18423161.0,18896307.0,19384841.0,19888250.0,20406864.0,...,52004172.0,52834005.0,53689236.0,54545991.0,55386367.0,56203654.0,57000451.0,57779622.0,58558270.0,NaN
262,Zambia,ZMB,3070776.0,3164329.0,3260650.0,3360104.0,3463213.0,3570464.0,3681955.0,3797873.0,...,14023193.0,14465121.0,14926504.0,15399753.0,15879361.0,16363507.0,16853688.0,17351822.0,17861030.0,NaN
263,Zimbabwe,ZWE,3776681.0,3905034.0,4039201.0,4178726.0,4322861.0,4471177.0,4623351.0,4779827.0,...,12894316.0,13115131.0,13350356.0,13586681.0,13814629.0,14030390.0,14236745.0,14439018.0,14645468.0,NaN

## drop row 0 & 1

In [66]:
df_pop_reg.drop(df_pop_reg.index[0:2], inplace = True)

In [67]:
df_pop_reg = df_pop_reg.reset_index(drop=True)

In [68]:
df_pop_reg.shape

(8, 127)

## Rename the first column

In [69]:
df_pop = df_pop_reg.rename(columns = {'Unnamed: 0': 'countries'})

In [70]:
df_pop_reg

,countries,2016,2016.1,2016.2,2015,2015.1,2015.2,2014,2014.1,2014.2,...,1978.2,1977,1977.1,1977.2,1976,1976.1,1976.2,1975,1975.1,1975.2
0,WHO region,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,...,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
1,Global,13.1 [12.4-13.9],11.1 [10.2-12.2],15.1 [14.0-16.2],12.8 [12.1-13.5],10.8 [9.9-11.7],14.7 [13.8-15.7],12.5 [11.8-13.1],10.4 [9.6-11.3],14.4 [13.5-15.3],...,6.7 [5.7-7.8],4.9 [4.3-5.6],3.1 [2.5-3.9],6.6 [5.5-7.7],4.8 [4.1-5.5],3.0 [2.4-3.8],6.4 [5.3-7.6],4.7 [4.0-5.4],2.9 [2.2-3.7],6.3 [5.1-7.5]
2,Africa,10.6 [9.6-11.7],5.6 [4.5-6.8],15.3 [13.6-17.1],10.3 [9.3-11.3],5.3 [4.4-6.4],14.9 [13.4-16.5],9.9 [9.1-10.9],5.1 [4.2-6.1],14.5 [13.1-16.0],...,3.7 [2.6-5.1],2.2 [1.5-2.9],0.6 [0.3-1.2],3.6 [2.4-5.0],2.1 [1.5-2.9],0.6 [0.3-1.2],3.5 [2.3-4.9],2.0 [1.4-2.8],0.6 [0.3-1.1],3.3 [2.2-4.8]
3,Americas,28.6 [26.6-30.5],25.9 [23.2-28.8],31.0 [28.2-33.7],28.0 [26.2-29.8],25.4 [22.8-28.0],30.5 [27.9-33.1],27.5 [25.8-29.2],24.8 [22.4-27.3],30.0 [27.5-32.4],...,12.6 [10.1-15.3],10.1 [8.5-11.9],7.9 [5.9-10.2],12.2 [9.7-15.0],9.8 [8.1-11.7],7.6 [5.6-10.0],11.9 [9.3-14.7],9.5 [7.8-11.4],7.4 [5.3-9.9],11.5 [8.9-14.5]
4,South-East Asia,4.7 [3.9-5.6],3.3 [2.4-4.3],6.1 [4.9-7.6],4.4 [3.7-5.2],3.1 [2.3-4.0],5.8 [4.7-7.2],4.2 [3.6-4.9],2.9 [2.2-3.7],5.6 [4.5-6.8],...,0.8 [0.4-1.2],0.5 [0.3-0.7],0.2 [0.1-0.4],0.7 [0.4-1.2],0.4 [0.3-0.7],0.2 [0.1-0.4],0.7 [0.4-1.2],0.4 [0.2-0.7],0.2 [0.1-0.4],0.6 [0.3-1.1]
5,Europe,23.3 [21.7-24.9],21.9 [19.8-24.1],24.5 [22.2-26.7],22.9 [21.4-24.3],21.4 [19.4-23.4],24.1 [22.0-26.3],22.4 [21.1-23.8],20.9 [19.0-22.8],23.8 [21.8-25.8],...,13.6 [11.0-16.5],10.4 [8.8-12.3],6.9 [5.3-8.8],13.3 [10.6-16.3],10.2 [8.5-12.1],6.6 [5.0-8.6],13.0 [10.3-16.2],9.9 [8.2-11.9],6.4 [4.7-8.4],12.8 [9.9-16.1]
6,Eastern Mediterranean,20.8 [19.1-22.6],15.7 [13.5-18.1],26.0 [23.4-28.7],20.3 [18.7-22.0],15.2 [13.1-17.4],25.5 [23.0-27.9],19.6 [18.1-21.2],14.7 [12.8-16.7],24.9 [22.7-27.3],...,9.9 [7.0-13.3],6.2 [4.6-8.1],2.9 [1.8-4.6],9.6 [6.6-13.1],6.0 [4.3-7.9],2.8 [1.6-4.5],9.3 [6.2-13.0],5.7 [4.0-7.7],2.6 [1.5-4.3],9.0 [5.8-12.8]
7,Western Pacific,6.4 [5.2-7.7],6.0 [4.4-8.0],6.7 [5.1-8.7],6.1 [5.0-7.3],5.7 [4.2-7.4],6.4 [5.0-8.2],5.8 [4.8-6.8],5.3 [4.0-6.9],6.2 [4.9-7.8],...,1.2 [0.8-1.7],0.8 [0.6-1.1],0.5 [0.4-0.8],1.2 [0.8-1.7],0.8 [0.6-1.1],0.5 [0.3-0.7],1.1 [0.7-1.7],0.8 [0.6-1.1],0.5 [0.3-0.7],1.1 [0.7-1.7]

# change the orientation of the df

In [71]:
df_pop_reg = df_pop_reg.T.reset_index()

In [72]:
df_pop_reg

,index,0,1,2,3,4,5,6,7
0,countries,WHO region,Global,Africa,Americas,South-East Asia,Europe,Eastern Mediterranean,Western Pacific
1,2016,Both sexes,13.1 [12.4-13.9],10.6 [9.6-11.7],28.6 [26.6-30.5],4.7 [3.9-5.6],23.3 [21.7-24.9],20.8 [19.1-22.6],6.4 [5.2-7.7]
2,2016.1,Male,11.1 [10.2-12.2],5.6 [4.5-6.8],25.9 [23.2-28.8],3.3 [2.4-4.3],21.9 [19.8-24.1],15.7 [13.5-18.1],6.0 [4.4-8.0]
3,2016.2,Female,15.1 [14.0-16.2],15.3 [13.6-17.1],31.0 [28.2-33.7],6.1 [4.9-7.6],24.5 [22.2-26.7],26.0 [23.4-28.7],6.7 [5.1-8.7]
4,2015,Both sexes,12.8 [12.1-13.5],10.3 [9.3-11.3],28.0 [26.2-29.8],4.4 [3.7-5.2],22.9 [21.4-24.3],20.3 [18.7-22.0],6.1 [5.0-7.3]
...,...,...,...,...,...,...,...,...,...
122,1976.1,Male,3.0 [2.4-3.8],0.6 [0.3-1.2],7.6 [5.6-10.0],0.2 [0.1-0.4],6.6 [5.0-8.6],2.8 [1.6-4.5],0.5 [0.3-0.7]
123,1976.2,Female,6.4 [5.3-7.6],3.5 [2.3-4.9],11.9 [9.3-14.7],0.7 [0.4-1.2],13.0 [10.3-16.2],9.3 [6.2-13.0],1.1 [0.7-1.7]
124,1975,Both sexes,4.7 [4.0-5.4],2.0 [1.4-2.8],9.5 [7.8-11.4],0.4 [0.2-0.7],9.9 [8.2-11.9],5.7 [4.0-7.7],0.8 [0.6-1.1]
125,1975.1,Male,2.9 [2.2-3.7],0.6 [0.3-1.1],7.4 [5.3-9.9],0.2 [0.1-0.4],6.4 [4.7-8.4],2.6 [1.5-4.3],0.5 [0.3-0.7]
126,1975.2,Female,6.3 [5.1-7.5],3.3 [2.2-4.8],11.5 [8.9-14.5],0.6 [0.3-1.1],12.8 [9.9-16.1],9.0 [5.8-12.8],1.1 [0.7-1.7]

# give the first row, the name of the second row

In [73]:
df_pop_reg.rename(columns=df_pop_reg.iloc[0], inplace = True)

In [74]:
df_pop_reg

,countries,WHO region,Global,Africa,Americas,South-East Asia,Europe,Eastern Mediterranean,Western Pacific
0,countries,WHO region,Global,Africa,Americas,South-East Asia,Europe,Eastern Mediterranean,Western Pacific
1,2016,Both sexes,13.1 [12.4-13.9],10.6 [9.6-11.7],28.6 [26.6-30.5],4.7 [3.9-5.6],23.3 [21.7-24.9],20.8 [19.1-22.6],6.4 [5.2-7.7]
2,2016.1,Male,11.1 [10.2-12.2],5.6 [4.5-6.8],25.9 [23.2-28.8],3.3 [2.4-4.3],21.9 [19.8-24.1],15.7 [13.5-18.1],6.0 [4.4-8.0]
3,2016.2,Female,15.1 [14.0-16.2],15.3 [13.6-17.1],31.0 [28.2-33.7],6.1 [4.9-7.6],24.5 [22.2-26.7],26.0 [23.4-28.7],6.7 [5.1-8.7]
4,2015,Both sexes,12.8 [12.1-13.5],10.3 [9.3-11.3],28.0 [26.2-29.8],4.4 [3.7-5.2],22.9 [21.4-24.3],20.3 [18.7-22.0],6.1 [5.0-7.3]
...,...,...,...,...,...,...,...,...,...
122,1976.1,Male,3.0 [2.4-3.8],0.6 [0.3-1.2],7.6 [5.6-10.0],0.2 [0.1-0.4],6.6 [5.0-8.6],2.8 [1.6-4.5],0.5 [0.3-0.7]
123,1976.2,Female,6.4 [5.3-7.6],3.5 [2.3-4.9],11.9 [9.3-14.7],0.7 [0.4-1.2],13.0 [10.3-16.2],9.3 [6.2-13.0],1.1 [0.7-1.7]
124,1975,Both sexes,4.7 [4.0-5.4],2.0 [1.4-2.8],9.5 [7.8-11.4],0.4 [0.2-0.7],9.9 [8.2-11.9],5.7 [4.0-7.7],0.8 [0.6-1.1]
125,1975.1,Male,2.9 [2.2-3.7],0.6 [0.3-1.1],7.4 [5.3-9.9],0.2 [0.1-0.4],6.4 [4.7-8.4],2.6 [1.5-4.3],0.5 [0.3-0.7]
126,1975.2,Female,6.3 [5.1-7.5],3.3 [2.2-4.8],11.5 [8.9-14.5],0.6 [0.3-1.1],12.8 [9.9-16.1],9.0 [5.8-12.8],1.1 [0.7-1.7]